{
    "arrowParens": "avoid",
    "singleQuote": true,
    "jsSingleQuote": true,
    "tabWidth": 2,
    "trailingComma": "none",
    "semi": false,
    "prosewrap": "always",
    "printwidth": 80,
    "plugins": ["prettier-plugin-tailwindess"]
}